
/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#touch-area {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #333;
    border-radius: 10px;
    background-color: #ec0505;
}

#touch-area h1 {
    text-align: center;
    color: #333;
}
